* {
    margin: 0;
    padding: 0;
}

/* The two sections (header and footer) uses the same style */

header,
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(155, 70, 70);
    color: white;
}

/* Considering that all the headings are centered  */
/* is not necesary define a specific class or id */

h1,
h2 {
    text-align: center;
}

/* Considering that id only one image
is not necesaty define a id */

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Considering that all the unordered list and paragraph have the same style */
/* is not necesary define a specific class or id */

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

/* The class for the four sections define at the HTML file  */

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }